.input-full-width {
    width: 100%;
}
.r {
    text-align: right;
}
.top15p {
    margin-top: 15%;
}
.top20 {
    margin-top: 20px;
}
.top15 {
    margin-top: 15px;
}
.top30 {
    margin-top: 30px;
}
.font1 {
    font-size: 30px;
    color: #3f51b5;
}
.font2 {
    font-size: 30px;
    color: #ff4081;
}
.rl {
    margin: 0 20px;
}